Django==4.2.19
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.5.0
channels==4.1.0
channels-redis==4.1.0
gunicorn==22.0.0
psycopg2-binary==2.9.10
python-decouple==3.8